<h4>みんなの発見</h4>
<div class="d-sm-flex flex-wrap" >
<% @discoveries.each do |discovery| %>
  <div class="w-50 border border-dark" > 
    <table class="table">
      <tbody>
        <tr>
          <th>題名</th>
          <td><%= link_to discovery.title, public_discovery_path(discovery.id) %></td>
        </tr>
        <tr>
          <th>説明</th>
          <td><%= discovery.explanation %></td>
        </tr>
        <tr>
          <th>画像１(左下）</th>
          <td><%= image_tag discovery.get_image(300,300, discovery.image1) %></td>
        </tr>
        <tr>
          <th>画像２(右上）</th>
          <td><%= image_tag discovery.get_image(300,300, discovery.image2) %></td>
        </tr>
        <tr>
          <th>ジャンル名</th>
          <td><%= discovery.genre.genre_name  %></td>
        </tr>
      </tbody>
    </table>
  </div>
<% end %>
</div>