会員情報
<table class="table">
<tbody>
<tr>
 <td>ユーザー名</td>
 <td><%= @member.user_name %></td>
</tr>
<tr>
 <td>発見数</td>
 <td></td>
</tr>
<tr>
 <td>レビュー平均評価</td>
 <td></td>
</tr>
<tr>
 <td>コメント一覧</td>
 <td></td>
</tr>
</tbody>
</table>

レビュー・コメント投稿
<%= form_with model: @review, url: public_reviews_path, method: :post do |f| %>
<table class="table">
 <tbody>
  <tr>
   <td>ユーザー名</td>
   <td><%= current_member.user_name %></td>
  </tr>
  <tr>
   <td>レビュー</td>
   <td>
       <div id="post_raty" ></div>
   <script>
    var elem = document.getElementById('post_raty');
    var opt = {  
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        scoreName: "review[review_score]",
      };
      raty(elem,opt);
   </script>
   </td>
  </tr>
  <tr>
   <td>コメント</td>
   <td><%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %></td>
  </tr>
 </tbody> 
 </table>  
  <%= f.hidden_field :discovery_id, value: @discovery.id %>
  <%= f.submit '発見' %>
<% end %>

ピックアップ
<table class="table">
<tbody>
<tr>
 <td>題名</td>
 <td><%= @discovery.title %></td>
</tr>
<tr>
 <td>説明</td>
 <td><%= @discovery.explanation %></td>
</tr>
<tr>

 <td>画像１(左下）</td>
 <td><%= image_tag @discovery.get_image(300,300, @discovery.image1) %></td>
</tr>
<tr>
 <td>画像２(右上）</td>
 <td><%= image_tag  @discovery.get_image(300,300, @discovery.image2)%></td>
</tr>
<tr>
 <td>ジャンル名</td>
 <td><%= @discovery.genre.genre_name %></td>
</tr>
</tbody>
</table>

