<b>発見詳細/編集</b>
<%= form_with model: @discovery, url:  admin_discovery_path, method: :patch do |f| %>
<table class="table">
 <tbody>
   <tr>
     <td>発見ID</td>
     <td><%= @discovery.id %></td>
   </tr>
   <tr>
     <td>題名</td>
     <td><%= f.text_field :title %></td>
   </tr>
   <tr>
     <td>説明</td>
     <td><%= f.text_area :explanation %></td>
   </tr>
   <tr>
     <td>画像１</td>
     <td><%= f.file_field :image1, accept: "image/*" %></td>
     <td><%= image_tag @discovery.get_image(300,300, @discovery.image1),id: "preview",size: "300x300" %></td>
   </tr>
   <tr>
     <td>画像２</td>
     <td><%= f.file_field :image2, accept: "image/*" %></td>
     <td><%= image_tag @discovery.get_image(300,300, @discovery.image2),id: "preview2",size: "300x300" %></td>
   </tr>
 　<tr>
     <td>ジャンル名</td>
     <td><%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :genre_name) %></td>
   </tr>
   <tr>
     <td>レビュー平均評価</td>
     <td></td>
   </tr>
 　<tr>
     <td>レビュー件数</td>
     <td><%= @discovery.reviews.count %></td>
   </tr>
   <tr>
     <td>発見ステータス</td>
     <td>
      <%= f.radio_button :is_deleted, :false %>
      <%= f.label :is_deleted, "問題なし" %>
      <%= f.radio_button :is_deleted, :true %>
      <%= f.label :is_deleted, "削除済み" %>
     </td>
   </tr>
 </tbody>
 </table>
  <%= f.submit '変更を保存',class: "btn btn btn-success btn-sm"%>
<% end %>

<script>
  $('#discovery_image1').on('change', function (e) {
    var reader = new FileReader();
    reader.onload = function (e) {
        $("#preview").attr('src', e.target.result);
    }
    reader.readAsDataURL(e.target.files[0]);
});
 $('#discovery_image2').on('change', function (e) {
    var reader = new FileReader();
    reader.onload = function (e) {
        $("#preview2").attr('src', e.target.result);
    }
    reader.readAsDataURL(e.target.files[0]);
});
</script>