<h4 class="text-center mt-3">発見一覧</h4>
<div class="container">
  <div class="row">
  <% @discoveries.each do |discovery| %>
  <div class="card col-12 col-md-4 border-dark">
    <div class="card-body">
      <h5 class="card-title"><%= link_to discovery.title, edit_admin_discovery_path(discovery.id) %></h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">説明：<%= discovery.explanation %></li>
      <li class="list-group-item">全体画像：<%= image_tag discovery.get_image(250,250, discovery.image1) %></li>
      <li class="list-group-item">注目ポイント：<%= image_tag discovery.get_image(250,250, discovery.image2) %></li>
      <li class="list-group-item">ジャンル名：<%= discovery.genre.genre_name %></li>
      <li class="list-group-item">レビュー平均評価：<%= discovery.reviews.average(:review_score) %></li>
      <li class="list-group-item">レビュー件数：<%= discovery.reviews.count %></li>
      <li class="list-group-item">発見ステータス：
      <% if discovery.is_deleted == true %>
      削除済み
      <% else %>
      問題なし
      <% end %>
      </li>
    </ul>
  </div>
  <% end %>
  </div>
</div>
