<b>発見一覧</b>
<table class="table">
 <tbody>
  <tr>
  <th>発見ID</th>
  <th>題名</th>
  <th>説明</th>
  <th>画像１</th>
  <th>画像２</th>
  <th>ジャンル名</th>
  <th>レビュー平均評価</th>
  <th>レビュー件数</th>
  <th>発見ステータス</th>
  </tr>
  <% @discoveries.each do |discovery| %>
  <tr>
   <td><%= discovery.id %></td>
   <td><%= link_to discovery.title, edit_admin_discovery_path(discovery.id) %></td>
   <td><%= discovery.explanation %></td>
   <td><%= image_tag discovery.get_image(300,300, discovery.image1) %></td>
   <td><%= image_tag discovery.get_image(300,300, discovery.image2) %></td>
   <td><%= discovery.genre.genre_name  %></td>
   <td><%= discovery.reviews.average(:review_score) %></td>
   <td><%= discovery.reviews.count %></td>
   <td>
     <% if discovery.is_deleted == true %>
     削除済み
     <% else %>
     問題なし
     <% end %>
   </td>
  </tr>
  <% end %>
 </tbody>
 </table>  